@import "/src/Styles/theme";

.Form {
  @include gridColumnWidth(6);

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: map-get($primary-colors, "white");
  border: 1px solid map-get($neutral-colors, "black-10");
  border-radius: $border-radius;
  margin-top: 88px;

  .content {
    @include gridColumnWidth(4);

    .title {
      text-align: center;
      margin: 56px 0 64px;
    }

    .input {
      margin-top: 16px;
    }

    .checkbox {
      margin-top: 8px;
    }

    .button {
      margin: 40px auto 0;
      
    }

    .inlineButton {
      display: flex;
      margin: 16px auto 0;
      font-size: map-get($fontSizes, "regular");
    }

    .multipleButtons {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin: 40px 0 56px;
    }

    .paragraph {
      margin: 16px auto 32px;
      padding: 0 24px;
      text-align: center;
    }
  }
}
