@import "/src/Styles/theme";

.Header {
  width: 100%;
  background-color: map-get($primary-colors, "white");
  display: flex;
  justify-content: flex-end;
  padding: 24px 16px;
}

.navItem {
  &:not(:last-child) {
    padding-right: 16px;
    border-right: 2px solid map-get($neutral-colors, "black-10");
    margin-right: 16px;
  }
}
