@import "/src/Styles/theme";

.Header {
  width: 100%;
  background-color: map-get($primary-colors, "white");
  display: flex;
  justify-content: flex-end;
  padding: 24px 16px;
}

.navItem {
  &:not(last-child) {
    margin-right: 16px;
  }
}
