@import "/src/Styles/theme";

.SquaredButton {
  border: none;
  border-radius: 8px;
  font-family: map-get($fontsFamilies, "helvetica-bold");
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &.primary {
    background-color: map-get($cta-colors, "primary-cta");
    color: map-get($primary-colors, "white");

    &:hover {
      background-color: map-get($cta-colors, "primary-cta-hover");
    }

    &:focus {
      outline: 2px solid map-get($primary-colors, "dark-green");
    }
  }
}
