@import "/src/Styles/theme";

.FormFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 24px;
  margin: 56px 0;
  border-top: 1px solid map-get($neutral-colors, "black-10");
  .label {
    margin-bottom: 10px;
  }
  .inlineButton {
    margin-left: 16px;
    margin-bottom: 10px;
  }
}
