@import "/src/Styles/theme";

.InlineCta {
  @include button;
  color: map-get($cta-colors, "primary-cta");
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  &.error {
    color: map-get($primary-colors, "red");
  }

  &:hover {
    text-decoration: underline;
  }

  .spinner {
    margin-right: 8px;
  }
}
