$primary-colors: (
  "blue": #112f45,
  "orange": #ec8b32,
  "paper": #f7f3ea,
  "white": #ffffff,
  "dark-green": #559071,
  "black": #0000,
  "red": #c53a32,
);

$cta-colors: (
  "primary-cta": map-get($primary-colors, "blue"),
  "primary-cta-hover": #305577,
  "primary-cta-active": #0a2336,
  "secondary-cta": map-get($primary-colors, "white"),
  "secondary-cta-hover": map-get($primary-colors, "paper"),
  "secondary-cta-active": #e9e1bc,
);

$neutral-colors: (
  "black-60": #545454,
  "black-40": #808080,
  "black-20": #aeaeae,
  "black-10": #d6d6d6,
  "black-5": #e8e8e8,
);
