@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/../public/assets/fonts/helvetica-regular/HelveticaNeueCyr-Roman.woff2")
      format("woff2"),
    url("/../public/assets/fonts/helvetica-regular/HelveticaNeueCyr-Roman.woff")
      format("woff");
}

@font-face {
  font-family: "Helvetica-medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/../public/assets/fonts/helvetica-medium/HelveticaNeueCyr-Medium.woff2")
      format("woff2"),
    url("/../public/assets/fonts/helvetica-medium/HelveticaNeueCyr-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "Helvetica-medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/../public/assets/fonts/helvetica-bold/HelveticaNeueCyr-Bold.woff2")
      format("woff2"),
    url("/../public/assets/fonts/helvetica-bold/HelveticaNeueCyr-Bold.woff")
      format("woff");
}

$helvetica: "Helvetica", sans-serif;
$helvetica-medium: "Helvetica-medium", sans-serif;
$helvetica-bold: "Helvetica-bold", sans-serif;

$fontsFamilies: (
  "helvetica": $helvetica,
  "helvetica-medium": $helvetica-medium,
  "helvetica-bold": $helvetica-bold,
);

$fontSizes: (
  "titleXL": 32px,
  "titleL": 24px,
  "title": 20px,
  "regular": 14px,
  "mobile": 13px,
  "small": 12px,
);
