@mixin button {
  border: none;
  background: none;
  font-family: map-get($fontsFamilies, "helvetica-bold");
  cursor: pointer;
  text-transform: capitalize;
}

@mixin from($screenName) {
  @media screen and (min-width: map-get($screens, $screenName)) {
    @content;
  }
}

@function getGridColumnWidth($numberOfColumns) {
  @return math.div(100vw, map-get($grid, "columns")) * $numberOfColumns;
}

@function getGridColumnMaxWidth($numberOfColumns) {
  @return math.div(map-get($grid, "max-width"), map-get($grid, "columns")) *
    $numberOfColumns;
}

@mixin gridColumnWidth($numberOfColumns: 1) {
  width: getGridColumnWidth($numberOfColumns);
  max-width: getGridColumnMaxWidth($numberOfColumns);
}

@mixin inputWrapper {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@mixin input {
  max-width: 100%;
  padding: 24px 16px;
  border: 1px solid map-get($neutral-colors, "black-40");
  border-radius: $border-radius;
  background-color: map-get($primary-colors, "white");
  font-family: map-get($fontsFamilies, "helvetica");
  font-size: map-get($fontSizes, "regular");
}