@import "/src/Styles/theme";

.ErrorForm {
  font-family: map-get($fontsFamilies, "helvetica");
  font-size: map-get($fontSizes, "regular");
  color: map-get($semantic-colors, "error-red");
  margin-top: 8px;
}
