@import "/src/Styles/theme";

.Page {
  font-family: map-get($fontsFamilies, "helvetica");
  background-color: map-get($primary-colors, "paper");
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
