@import "/src/Styles/theme";

.input {
    @include input;

    &:hover,
    &:focus {
        border-color: map-get($primary-colors, "blue");
    }

    &::placeholder {
        color: map-get($neutral-colors, "black-5");
    }

    &.input-warning {
        border-color: map-get($primary-colors, "orange");
    }

    &.input-error {
        border-color: map-get($primary-colors, "red");
    }
}

