@import "/src/Styles/theme";

.InputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;

  input {
    width: 100%;
    padding: 24px 16px;
    border: 2px solid map-get($neutral-colors, "black-40");
    border-radius: $border-radius;
    background-color: map-get($primary-colors, "white");
    font-family: map-get($fontsFamilies, "helvetica");
    font-size: map-get($fontSizes, "regular");
    position: relative;

    &:hover,
    &:focus {
      border-color: map-get($primary-colors, "blue");
      outline: none;
    }

    &::placeholder {
      color: map-get($neutral-colors, "black-40");
    }

    &.disabled {
      background-color: map-get($neutral-colors, "black-5");
      border-color: map-get($neutral-colors, "black-5");
    }

    &.error {
      border-color: map-get($semantic-colors, "error-red");
    }
  }

  .inputContainer {
    position: relative;

    .eye {
      @include button;
      position: absolute;
      top: 50%;
      right: 26px;
      transform: translateY(-50%);
    }

    .fakeInput {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
