@import "/src/Styles/theme";

.Spinner {
  animation: rotate 2s normal linear infinite;
  &.blue {
    & path {
      fill: map-get($primary-colors, "blue");
    }
  }

  &.white {
    & path {
      fill: map-get($primary-colors, "white");
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
