@import "/src/Styles/theme";

.Cta {
  @include button;
  font-family: map-get($fontsFamilies, "helvetica-bold");
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  &.primary,
  &.secondary {
    border-radius: $border-radius;
    padding: 8px 16px;
    transition: background-color 0.1s ease-in-out;

    &.loading {
      .text {
        opacity: 0;
      }
    }

    .spinner {
      position: absolute;
    }
  }

  &.primary {
    background-color: map-get($primary-colors, "blue");
    color: map-get($primary-colors, "white");

    &:hover {
      background-color: map-get($semantic-colors, "white-blue");
    }

    &:focus {
      outline: none;
      border: 2px solid map-get($semantic-colors, "approval-green");
    }

    &:active {
      outline: none;
      background-color: map-get($semantic-colors, "dark-blue");
    }

    &.error {
      background-color: map-get($semantic-colors, "error-red");
    }
  }

  &.secondary {
    background-color: map-get($primary-colors, "white");
    color: map-get($primary-colors, "blue");
    border: 1px solid map-get($primary-colors, "blue");

    &:hover {
      background-color: map-get($primary-colors, "paper");
    }

    &:focus {
      outline: none;
      border: 2px solid map-get($semantic-colors, "approval-green");
    }
    &:active {
      outline: none;
      background-color: map-get($primary-colors, "paper");
    }

    &.error {
      color: map-get($semantic-colors, "error-red");
      border-color: map-get($semantic-colors, "error-red");
    }
  }

  &.inline {
    color: map-get($primary-colors, "blue");

    &.error {
      color: map-get($semantic-colors, "error-red");
    }

    &:hover {
      text-decoration: underline;
    }

    .spinner {
      margin-right: 8px;
    }
  }
}
